
body {
	height: 100%;
	width: 100vw;
	margin: 0;
	overflow: scroll;
}
.content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	box-sizing: border-box;
	width: 100vw;
}
.nav {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
	width: 30vw;
}
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70vw;
	box-sizing: border-box;
	margin: 10px;
}
.results {
	padding: 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 15px;
	margin: 0;
	list-style: none;
	width: 70vw;
}
.list__item {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}
.fav__list-item {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}
.fav__series-title {
	font-size: 14px;
	padding-left: 20px;
}
.fav {
	background-color: darkred;
	color: white;
}
.hidden {
	display: none;
}
.fav__series {
	list-style: none;
	padding: 0;
}
.fav_img {
	height: 100px;
	width: 70px;
}
.fav__title {
	text-align: center;
}
.title {
	font-size: 28px;
	text-align: center;
}
.serie_img {
	padding-top: 15px;
}
.input {
	border: none;
	border-bottom: 1px solid black;
	padding-right: 0;
	font-size: 14px;
}
.button {
	background-color: darkred;
	color: white;
	font-size: 14px;
	padding: 4px 10px 5px;;
	border: none;
}
.fas {
	font-size: 14px;
	align-self: flex-start;
}


