<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Superanika's module 2 final exercise</title>
  <link rel="icon" href="favicon.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <div class="page">
    <h1 class="title">Buscador de series</h1>
    <div class="search__field">
      <input type="text" class="input">
      <button class="button">Search</button>
      <ul class="results"></ul>
    </div>
  </div>
  <script src="assets/js/main.js"></script>
</body>
</html>
